* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #0B0B0F;
  color: #fff;
  font-size: 32px;
}

a {
  text-decoration: none;
  color: #fff;
}

span {
  font-weight: 600;
}

.title {
  font-weight: 700;
  font-size: 64px;
}

.anime-figure {
  width: 400px;
  height: 350px;
  border-radius: 20px;
}

.button {
  padding: 5px 40px;
  border-radius: 20px;
  font-size: 32px;
  border: none;
}
.button--dark {
  color: #fff;
  background: #2A0A4A;
}
.button--light {
  color: #2A0A4A;
}

.container-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}
.container-cards .card {
  background: #2A0A4A;
  padding: 20px;
  max-width: 500px;
  min-width: 400px;
  border-radius: 20px;
}
.container-cards .card__title {
  text-align: center;
}
.container-cards .card__list {
  font-size: 20px;
}
.container-cards .card__list ul, .container-cards .card__list li {
  padding: 10px;
  list-style-type: none;
}

.block {
  padding: 30px 300px;
}
.block__title {
  font-size: 40px;
  text-align: center;
  padding: 20px 0px;
}
.block__title-text {
  font-size: 32px;
  text-align: center;
  padding-bottom: 20px;
}

.disclaimer {
  font-size: 20px;
  margin: 25px 0px;
}

.quote {
  font-style: italic;
}
.quote-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.header, .footer__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  background: #2A0A4A;
}
.header__section-links, .footer__section__section-links {
  font-size: 28px;
}

.footer__section-links {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
.footer__section {
  background: #0B0B0F;
}
.footer__section .footer_text {
  font-size: 28px;
}

.hero__info {
  display: flex;
  justify-content: space-between;
}
.hero__info .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.hero__info .info p:first-child {
  max-width: 600px;
}

.legend__info {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  gap: 100px;
  align-items: center;
}
.legend__quote {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trust__cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.trust__cards .card {
  display: flex;
  background: #fff;
  color: #2A0A4A;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
}
.trust__cards .card__icon {
  width: 100px;
  padding: 0px 10px;
}
.trust__cards .card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact__container {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}
.contact__container .container__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__container .container__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2A0A4A;
  border-radius: 20px;
  padding: 20px;
  gap: 10px;
}
.contact__container .container__form .form__title {
  font-size: 28px;
}
.contact__container .container__form input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}
.contact__container .container__form .form__agreement {
  display: flex;
  font-size: 20px;
}
.contact__container .container__form .form__agreement img {
  width: 30px;
}/*# sourceMappingURL=main.css.map */