$darkPurple: #0B0B0F;
$secondaryPurple: #2A0A4A;
$lightPurple: #8A2BE2;
$colorText: #fff;

$sizeTitle: 64px;
$sizeTitleOfBlock: 40px;
$sizeNormal: 32px;
$sizeLittle: 28px;
$sizeMin: 20px;

$sizeRadius: 20px;
$paddingInBlock: 30px 300px;