@import "_variables";
@import "_base";

.header, .footer__section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 20px;
    background: $secondaryPurple;

    &__section-links {
        font-size: $sizeLittle;
    }
}

.footer {
    &__section-links {
        display: flex;
        justify-content: space-around;

        font-size: $sizeMin;
    }
    &__section {
        background: $darkPurple;

        .footer_text {
            font-size: $sizeLittle;
        }
    }
}

.hero {
    &__info  {
        display: flex;
        justify-content: space-between;

        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            p:first-child {
                max-width: 600px;
            }

        }
    }
}

.legend {
    &__info  {
        display: flex;
        justify-content: space-between;
        font-size: $sizeMin;
        gap: 100px;
        align-items: center;
    }

    &__quote  {
        padding: 30px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}



